# shellcheck shell=bash

# sync secrets to/from Keybase
KEYBASE_SECRETS_DIR="/keybase/private/hakamadare/terraform/infra"
SECRETS_FILE="_vecnaorg.auto.tfvars"
RSYNC=$(which rsync)
if [[ -x "${RSYNC}" && -d "$KEYBASE_SECRETS_DIR" ]]; then
  $RSYNC --quiet --times --update --inplace "$SECRETS_FILE" "${KEYBASE_SECRETS_DIR}/" &&
    cp "${KEYBASE_SECRETS_DIR}/${SECRETS_FILE}" "./${SECRETS_FILE}"
fi

dotenv

# vim: set et fenc=utf-8 ff=unix ft=sh sts=2 sw=2 ts=2 :
