#set( $key = $context.identity.apiKey )
#set( $keyname = "apiKey" )
#set( $traceidval = $input.params().get("header").get("X-Amzn-Trace-Id"))
#set( $bodyname = "body" )
#set( $traceid = "traceid")
#set( $body = $input.body )
#set( $quote = '"' )
#set( $b64 = $util.base64Encode("{$quote$keyname$quote:$quote$key$quote,$quote$traceid$quote:$quote$traceidval$quote,$quote$bodyname$quote:$body}") )
{ "DeliveryStreamName": "${stream}", "Record": { "Data": "$b64" }}
